# Ignorar o ficheiro de segredos local
.env

# Ignorar todos os ficheiros CSV (eles já estão no banco!)
*.csv

# Ignorar os ficheiros de dados de obras
dados_obras_nao_pub/

# Ignorar o ambiente virtual (se tiver um)
venv/
.venv/

# Ignorar ficheiros de cache do Python
__pycache__/
*.pyc